<!DOCTYPE html>
<html lang="fa" dir="rtl">
<body>
</body>
<footer>
        <div>
                <h3 id="contact-us">تماس با ما</h3>
                <ul style="list-style: none; padding: 0;">
                    <li>آدرس: تهران کیلومتر 18 بزرگراه امام رضا</li>
                    <li>تلفن: 02166122947 - 02166122953 - 02166122956</li>
                    <li>Email: azaran.emertat@gmail.com</li>
                </ul>
            </div>
    <span>Copyright &copy; 2012-2018 Azaran Sanat Emertat </span>

</footer>
</html>