<!DOCTYPE html>
<html>
<body>
    <header id="main-header" class="clearfix">
        <h1 style="float:left;"><a href='/index/' style="text-decoration: none;">Azaran Sanat Emertat</a></h1>
        <nav>
            <ul>
                <li style="float:left;"><a href="/home-en/">Products</a></li>
                <li style="float:left;"><a href="/home-en/">Downloads</a></li>
                <li style="float:left;"><a href="#contact-us">Contact us</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>