<!DOCTYPE html>
<html>
<body>
    <header id="main-header" class="clearfix">
        <h1>آذران صنعت امرتات</h1>
        <nav>
            <ul>
                <li><a href='/home/'>خانه</a></li>
                <li><a href="products.html">محصولات</a></li>
                <li><a href="articles.html">مقالات</a></li>
                <li><a href="faqs.html">پرسش های متداول</a></li>
                <li><a href="/package-form">انتخاب پکیج</a></li>
                <li><a href="#contact-us">تماس با ما</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>