<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="utf-8" />

    <meta name="description" content="شرکت تولیدی و صنعتی آذران صنعت امرتات تولید کننده پکیج های زمینی و 
    سیستم های گرمایشی با کیفیت و استاندارد روز اروپا" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>آذران صنعت امرتات - صفحه اصلی</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/styles.css">
    <!-- <script src="main.js"></script> -->
</head>

<body>
    <!-- <header id="main-header" class="clearfix">
        <h1>آذران صنعت امرتات</h1>
        <nav>
            <ul>
                <li><a href=''>خانه</a></li>
                <li><a href="products.html">محصولات</a></li>
                <li><a href="articles.html">مقالات</a></li>
                <li><a href="faqs.html">پرسش های متداول</a></li>
                <li><a href="/package-form">انتخاب پکیج</a></li>
                <li><a href="#contact-us">تماس با ما</a></li>
            </ul>
        </nav>
    </header> -->
    {% include 'header.html' %}
    <main>
        <aside id="main-article">
            <figure>
                <img src="/static/Boiler (1).jpg" alt="Calor" />
                <!-- <figcaption>پکیج زمینی کالور</figcaption> -->
            </figure>
            <h3>معرفی شرکت آذران صنعت امرتات</h3>
            <p>
                شرکت تولیدی و صنعتی آذران امرتات با حضور تنی چند از متخصصان صنعت تاسیسات گرمایشی،
                در تهران و از بدو تاسیس خود پیوسته در حال توسعه مداوم بوده است.
                این مجموعه فعالیت خود را با تولید دیگ فولادی برای مصارف خانگی آغاز نمود.
            </p>
            <p>
                شرکت تولیدی و صنعتی آذران صنعت امرتات عواملی چون بالاترین کیفیت،
                مناسب ترین قیمت و سریعترین زمان ممکن جهت تحویل کالا را در صدر
                برنامه های راهبردی و خط مشی کیفی خود گنجانده و
                به آن توجهی خاص می نماید تا بتواند رضایت مشتریان
                خود را به نحو احسن تامین نماید. دپارتمان R&D کارخانه با به روز رسانی
                تولیدات خود با استانداردهای جهانی، کمک شایانی به
                حفظ و حراست از منابع انرژی کشور و همچنین محیط زیست شهروندان نموده است.
            </p>
            <p>
                با توجه به امکانات فیزیکی و توانمندی علمی و فنی و الزامات و سطوح کیفی این مجموعه تولیدی، در سال 2013
                شرکت
                Peremonti S.p.A ایتالیا دیگ های ابگرم تا ظرفیت 200000 کیلوکالری بر ساعت این کارخانه را به منظور تولید
                تحت
                لیسانس خود برگزید و از این پس محصولات این شرکت با بالاترین سطوح کیفی و با الزامات استاندارد بین المللی
                CE
                اروپا تولید و عرضه می گردند.
            </p>
            <p>
                همینک شرکت تولیدی و صنعتی آذران صنعت امرتات با دارا بودن تیم مهندسی و تولیدی مجرب و بهره مندی از
                امکانات و
                تجهیزات پیشرفته، امیدوار است به یاری حق و تلاش بی وقفه و پایان ناپذیر کلیه مدیران و پرسنل به قله های
                رفیع
                موفقیت دست یابد.
            </p>
        </aside>

        <!-- <aside>

            <header>
                <h2>مقاله برگزیده</h2>
                <h3><a href="featuredArticle.html">ملاحظات انتخاب پکیج زمینی</a></h3>
                <p>در خصوص انتخاب پکیج زمینی می بایست موارد ذیل در نظر گرفته شود.</p>
            </header>
        </aside> -->

        <section>
            <!-- <div>
                <h3 id="contact-us">تماس با ما</h3>
                <ul>
                    <li>آدرس: تهران کیلومتر 15 جاده خاوران</li>
                    <li>تلفن: 6804125 0912</li>
                </ul>
            </div> -->

            <!-- <div>
                <h3>شبکه های اجتماعی</h3>
                <ul>
                    <li><a href="#">تلگرام</a></li>
                    <li><a href="#">اینستاگرام</a></li>
                    <li><a href="#">لینکدین</a></li>
                </ul>
            </div> -->
        </section>
    </main>
    
</body>
{% include 'footer.html' %}
<!-- <footer>
    <span>&copy; Azaran Sanat Emertat 2012-2018 </span>

</footer> -->

</html>