<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8" />

    <meta name="description" content="شرکت تولیدی و صنعتی آذران صنعت امرتات تولید کننده پکیج های زمینی و 
    سیستم های گرمایشی با کیفیت و استاندارد روز اروپا" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Azaran Sanat Emertat - HomePage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/styles.css">
</head>

<body>
    {% include 'header_en.html' %}
    <main>
        <aside id="main-article">
            <figure>
                <img src="/static/Boiler (1).jpg" alt="دیگ فولادی آبگرم کالور" />
            </figure>
            {{intro | safe}}
        </aside>

        <section>
        </section>
    </main>
    
</body>
{% include 'footer_en.html' %}

</html>