<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8" />

    <meta name="description" content="شرکت تولیدی و صنعتی آذران صنعت امرتات تولید کننده پکیج های زمینی و 
    سیستم های گرمایشی با کیفیت و استاندارد روز اروپا" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Azaran Sanat Emertat آذران صنعت امرتات</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/styles.css">
</head>

<body>
    <div class="hero-image">
        <div class="hero-text">
            <a href="/home-en/" style="text-decoration: none">
                    <h2>Azaran Sanat Emertat - English</h2>
                </a>
            <a href="/home-fa/" style="text-decoration: none">
                    <h2>آذران صنعت امرتات - فارسی</h2>
                </a>
        </div>
    </div>
</body>
{% include 'footer_en.html' %}

</html>