<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
	<title>Package recommendation</title>
	<meta charset="utf-8">
	<meta name="description" content="با پر کردن این فرم نوع و ظرفیت پکیج مناسب شما 
	پیشنهاد داده خواهد شد">
	<!-- <link rel="stylesheet" type="text/css" href="" /> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<style>
		.w3-myfont {
			font-family: "Comic Sans MS", cursive, sans-serif;
		}

		.w3-Tahoma {
			font-family: "MyYekan", "Tahoma", serif;
			
		}
		
		.w3-Tahoma-bold {
			font-family: "MyYekan","Tahoma", serif;
			font-weight: bold;
			
			color:royalblue;
		}

		@font-face {
			font-family: 'MyYekan';
			src: url('/static/Yekan.woff');
		}
	</style>

	<h1 class="w3-Tahoma w3-xxlarge" style="text-align: center">گروه تولیدی آذران صنعت</h1>	
</head>

<body>
	<header>
		
	</header>
	<div class="w3-card-4 w3-Tahoma" >
		<div class="w3-container w3-blue">
			<h1 class="w3-Tahoma w3-large">سوالات جهت پیشنهاد پکیج مناسب شما:</h1>
		</div>
		<form class="w3-container " method="POST" action="/recommend-package">
			
			<div class="">
				<section id="selection-form" class="">

					<p >
						<p><label class="w3-Tahoma-bold "> سوال یک - نوع ساختمان:</label></p>
						<p><label><input class="w3-radio" type="radio" value="1" name="Ans1" required /> ساختمان دو طبقه یا دوبلکس </label></p>
						<p><label><input class="w3-radio" type="radio" value="2" name="Ans1"/> ساختمان سه طبقه یا تریبلکس </label></p>
						<p><label><input class="w3-radio" type="radio" value="3" name="Ans1"/> ساختمان چهار طبقه </label></p>
						<p><label><input class="w3-radio" type="radio" value="4" name="Ans1" checked/> یک واحد آپارتمانی </label></p>

					</p >
					<p class="w3-border-bottom">
						<p><label for="areaBox" class="w3-Tahoma-bold">سوال دو - کل متراژ گرم شونده ساختمان مورد نظر: </label></p>
						<input class="w3-input" value="84" name="area" type="number" placeholder="مترمربع" id="AreaId" required>
					</p>
					
					<p class="">
						<p><label class="w3-Tahoma-bold">سوال سه - نوع سیستم گرمایشی بکار رفته در ساختمان:</label></p>
						<p><label><input class="w3-radio" type="radio" value="1" name="Ans3" required checked/> انواع رادیاتور (آلومینیومی، پانل فولادی، پره فولادی) </label></p>
						<p><label><input class="w3-radio" type="radio" value="2" name="Ans3"/> انواع فن کوئل یا داکت اسپلیت </label></p>
						<p><label><input class="w3-radio" type="radio" value="3" name="Ans3"/> سیستم گرمایش از کف </label></p>
						<p><label><input class="w3-radio" type="radio" value="4" name="Ans3"/> کوئل گرمایشی دستگاههای هوارسان (Air Handling Unit) </label></p>

					</p>

					<p class="w3-border-bottom">
						<p><label class="w3-Tahoma-bold">سوال چهار - نوع سوخت مصرفی</label></p>
						<p><label><input class="w3-radio" type="radio" value="1" name="Ans4" required checked/> لوله کشی گاز شهری </label></p>
						<p><label><input class="w3-radio" type="radio" value="2" name="Ans4"/> گازوئیل </label></p>

					</p>

					<p class="w3-border-bottom">
						<p><label class="w3-Tahoma-bold">سوال پنج - ارتفاع سقف اجرا شده در ساختمان </label></p>
						<p><label><input class="w3-radio" type="radio" value="1" name="Ans5" required checked/> 2.5 الی 3 متر (ارتفاع سقف متدوال عمومی) </label></p>
						<p><label><input class="w3-radio" type="radio" value="2" name="Ans5"/> 3 الی 4 متر </label></p>
						<p><label><input class="w3-radio" type="radio" value="3" name="Ans5"/> 4 الی 5 متر </label></p>
						<p><label><input class="w3-radio" type="radio" value="4" name="Ans5"/> 5 الی 6 متر </label></p>
						<p><label><input class="w3-radio" type="radio" value="5" name="Ans5"/> 2 الی 2.5 متر </label></p>

					</p>
					
					<p class="w3-border-bottom">
						<p></p><label class="w3-Tahoma-bold">سوال شش - منطقه ای که پروژه در آن واقع شده است: </label></p>
						<p>
						<select class="w3-select" name="state" id="States" required>
							<option value="" disabled selected>استان</option>
						</select>
						</p>
						<p>
						<select class="w3-select" name="city" id="Cities" required
								oninvalid="this.setCustomValidity('لطفا شهر را انتخاب نمایید')"
								oninput="this.setCustomValidity('')">
							<option value="" disabled selected>شهر</option>
							
						</select>
						</p>
					</p>

					<p class="">
						<p><label class="w3-Tahoma-bold">سوال هفت - تعداد دوش های حمام که همزمان مورد بهره برداری قرار میگیرند</label></p>
						<p><label><input class="w3-radio" type="radio" value="1" name="Ans7" required checked/> حداکثر فقط یک دوش حمام یا یک سرویس بهداشتی </label></p>
						<p><label><input class="w3-radio" type="radio" value="2" name="Ans7"/> دو دوش حمام (استفاده بصورت همزمان با هم) </label></p>
						<p><label><input class="w3-radio" type="radio" value="3" name="Ans7"/> سه دوش حمام (استفاده بصورت همزمان با هم) </label></p>
						<p><label><input class="w3-radio" type="radio" value="4" name="Ans7"/> فاقد هرگونه دوش حمام یا سرویس بهداشتی و استفاده از پکیج صرفا به منظور گرمایش فضاها </label></p>
						<p><label> (توضیح: بدلیل محدودیت پکیج های گرمایشی در تأمین آبگرم مصرفی، بهره برداری از بیش از سه دوش حمام با یک دستگاه پکیج گرمایشی معمولا امکان پذیر نمی باشد.) </label></p>

					</p>

					<p class="w3-border-bottom">
						<p><label class="w3-Tahoma-bold">سوال هشت - نوع و کیفیت درزبندي پنجره هاي ساختمان (با معیار مبحث 19 مقررات ملی ساختمان) : </label></p>
						<p><label><input class="w3-radio" type="radio" value="1" name="Ans8" required /> پنجره های تک جداره (درزبندی عادی) </label></p>
						<p><label><input class="w3-radio" type="radio" value="2" name="Ans8"checked/> پنجره های دو جداره (درزبندی هوابند) </label></p>

					</p>
					<p class="w3-border-bottom">
						<p><label class="w3-Tahoma-bold">سوال نه - نوع و کیفیت بهره برداری از ساختمان</label></p>
						<p><label><input class="w3-radio" type="radio" value="1" name="Ans9" required checked/> کاربری و بهره برداری عادی (از لحاظ مصارف انرژی) </label></p>
						<p><label><input class="w3-radio" type="radio" value="2" name="Ans9"/> کاربری و بهره برداری لوکس و پرمصرف  </label></p>

					</p>

					<p>
						<input class="w3-btn w3-blue" type="submit" value="تأیید و ارسال" name="">
					</p>
				</section>

			</div>
		</form>	
	</div>

	<footer dir="ltr" style="text-align:center;" >
		<span>Azaran Sanat Emertat <br> &copy; 2018 Azaran Sanat Emertat</span>
		
	</footer>

	<script>
        var state_select = document.getElementById("States");
        var city_select = document.getElementById("Cities");
        
		document.addEventListener('DOMContentLoaded', function() {
			fetch('/states').then(function(response) {

					response.json().then(function(data) {
						var optionHTML = '<option value=0>' + 'استان' + '</option>';

						for (var state of data.states) {
							optionHTML += '<option value="' + state.id + '">' + state.name + '</option>';
					}

					state_select.innerHTML = optionHTML;
					})

					});
				
			}, false);
        // state_select.ondblclick = function()  {
             
		// 	fetch('/states').then(function(response) {

		// 		response.json().then(function(data) {
		// 			var optionHTML = '';

		// 			for (var state of data.states) {
		// 				optionHTML += '<option value="' + state.id + '">' + state.name + '</option>';
		// 		}

		// 		state_select.innerHTML = optionHTML;
		// 	})

		// 	});
        // }

        state_select.onchange = function()  {
             
            state = state_select.value;
			 
            fetch('/cities/'+ state).then(function(response) {
 
                response.json().then(function(data) {
                     var optionHTML = '<option value=0>' + '' + '</option>';;
 
                     for (var city of data.cities) {
                         optionHTML += '<option >' + city.name + '</option>';
                     }
 
                     city_select.innerHTML = optionHTML;
                 })
                 
             });
         }

		 var area_input = document.getElementById("AreaId");

		 area_input.onfocus = function() {
			 area_input.value = '';
		 }
    </script>

</body>
</html>