<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Recommended Product</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles.css">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
</head>

<body class="">
    {% include 'header_fa.html' %}
    <main class="">
        <div style="text-align: center">
            <h3>پاسخ خلاصه</h3>
            {% for i in range(1,6,2) %}
            {% for sub in result[i] %}
            <section><div><p>{{sub}}</p></div></section>
            {% endfor %}
            {% endfor %}
        </div>
        
        <h3>پیشنهاد نوع دستگاه گرمایشی برای این پروژه</h3>
        {% for id, text in result[0].items() %}
        <!-- <p>{{ id }} >></p> -->
        <p>{{ text|safe }}</p>
        {% endfor %}

        <h3>سایر ملاحظات و الزامات برای این پروژه</h3>
        {% for id, text in result[2].items() %}
        <!-- <p>{{ id }}</p> -->
        <p>{{ text }}</p>
        {% endfor %}
        
        
        <h3>پیشنهاد پکیج زمینی شرکت آذران صنعت امرتات</h3>
        {% for id, text in result[4].items() %}
        <!-- <p>{{ id }}</p> -->
        <p>{{ text }}</p>
        {% endfor %}

    </main>
    {% include 'footer_fa.html' %}
</body>

</html>