<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Recommended Product</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    
    
    
    <!-- <script src="main.js"></script> -->
    
    <style type="text/css">
        html {
            font-family: 'Tahoma'
        }
        
    </style>
    
    <h1>Welcome to package recommendation!</h1>


</head>
<body>

    <h3 dir="rtl">پیشنهاد نوع دستگاه پکیج گرمایشی برای این پروژه</h3>
    
    {% for id, text in result[0].items() %}
    <p dir='rtl'>{{ id }}</p>
    <p dir='rtl'>{{ text }}</p>
    {% endfor %}

    <h3 dir="rtl">سایر ملاحظات و الزامات برای این پروژه</h3>
    {% for id, text in result[1].items() %}
    <p dir='rtl'>{{ id }}</p>
    <p dir='rtl'>{{ text }}</p>
    {% endfor %}

    <h3 dir="rtl">پیشنهاد پکیج زمینی شرکت آذران صنعت امرتات</h3>
    {% for id, text in result[2].items() %}
    <p dir='rtl'>{{ id }}</p>
    <p dir='rtl'>{{ text }}</p>
    {% endfor %}
</body>
</html>