<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Recommended Product</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    
    
    
    <!-- <script src="main.js"></script> -->
    
    <!-- <style type="text/css">
        @font-face {
            font-family: 'MyYekan';
            src: url('/static/Yekan.woff') format('woff');
        }
        .w3-myfont {
			font-family: "Comic Sans MS", cursive, sans-serif;
		}

		.w3-Tahoma {
			font-family: 'MyYekan', "Tahoma", serif;
		}

        html {
            font-family: 'MyYekan','Tahoma';
        }

        p {
            text-align: justify;
        }

    </style> -->
    
    <h1>Welcome to package recommendation!</h1>
</head>

<body class="">
    <div class="">
        <h3 >پیشنهاد نوع دستگاه پکیج گرمایشی برای این پروژه</h3>
        
        {% for id, text in result[0].items() %}
        <p>{{ id }}</p>
        <p>{{ text }}</p>
        {% endfor %}

        <h3 >سایر ملاحظات و الزامات برای این پروژه</h3>
        {% for id, text in result[1].items() %}
        <p>{{ id }}</p>
        <p>{{ text }}</p>
        {% endfor %}

        <h3 >پیشنهاد پکیج زمینی شرکت آذران صنعت امرتات</h3>
        {% for id, text in result[2].items() %}
        <p>{{ id }}</p>
        <p>{{ text }}</p>
        {% endfor %}
    </div>
    <footer dir="ltr" style="text-align:center;" >
		<span>Azaran Sanat Emertat <br> &copy; 2018 Azaran Sanat Emertat</span>
	</footer>
</body>
</html>